extends layouts/main-layout.pug

block content
    .container-fluid.px-4
        if error
            .alert.alert-danger.mb-4(role="alert")
                i.fas.fa-exclamation-circle.mr-2
                = error
        
        .row
            // Left column - Scrollable task list
            .col-md-8.task-list-column
                .todo__header.d-flex.justify-content-between.align-items-center
                    h4.todo__title.mb-0
                        i.fas.fa-tasks.text-primary.mr-2
                        | Tasks
                    button.btn.btn-outline-primary.btn-sm(
                        type="button"
                        onclick="window.location.reload()"
                        data-testid="refresh-button"
                    )
                        i.fas.fa-sync-alt.fa-fw
                        span.ml-1 Refresh
                
                .todo__list.animate__animated.animate__fadeIn
                    include layouts/tasks-layout.pug
            
            // Right column - New task input
            .col-md-4.task-input-column
                h4.todo__title
                    i.fas.fa-plus-circle.text-primary.mr-2
                    | New Boring manually written task
                p.text-muted.mb-3
                    | This is the boring way to write a task.
                    | Don't use it.
                    | The Carpal tunnel syndrome will be on your side.
                    | Tendinopathy too.
                .add-form.sticky-top
                    form(action="/" method="post")
                        .add-form__input-group
                            textarea.form-control(
                                name="taskText" 
                                id="taskText" 
                                placeholder="Inserisci un nuovo compito..." 
                                required
                                rows="3"
                            )
                            .add-form__button-container
                                button.btn.btn-primary(type="submit")
                                    i.fas.fa-plus.mr-2
                                    | Aggiungi
                // AI Task Generation Section
                .ai-task-generator.mt-4
                    h4.todo__title
                        i.fas.fa-robot.text-primary.mr-2
                        | AI Task Generator
                    p.text-muted.mb-3
                        | This robot will do everything for me now.
                        | Robot, Activate yourself and generate tasks for me!
                    form(action="/generate-tasks" method="post")
                        .add-form__input-group
                            textarea.form-control(
                                name="taskPrompt" 
                                id="taskPrompt" 
                                placeholder="Describe your task in natural language..." 
                                required
                                rows="3"
                            )
                            .add-form__button-container
                                button.btn.btn-primary.mr-2(type="submit" disabled id="generateTasksBtn")
                                    i.fas.fa-magic.mr-2
                                    | Generate Tasks
                                button.btn.btn-secondary(type="button" disabled id="generatePromptBtn" onclick="generateRandomPrompt()")
                                    i.fas.fa-ellipsis-h.mr-2 
                                    | Generate Prompt